
:root {
    --main-color: #94cfff;
    --title-color: #ffffff;
    --btn-color: #26c6ea;
    --border-color: #26c7ea;
    --color: #0a3853;
    --language-color: #141414;
    --text-c0lor: #000000;
    --hover-color:#94CFFF;
    --bcg-color:#0B0E66;

}
.container {
    width: 1056px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px red solid;

}
.header {
    background-image: linear-gradient( rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),url(../img/background-header-footer.jpg);
    background-size: cover;
    border-bottom: 3px solid var(--title-color);
    padding-top: 39px;
    padding-bottom: 39px;
}
.header-box {
    display: flex;
    align-items: center;
}
.logo-link {
    margin-right: 168px;
}
.nav-list {
    display: flex;
    gap: 38px;
}
.nav-link {
    color: var(--title-color);
text-align: center;
font-family: "Inter";
font-size: 20px;
font-style: 1.2;
font-weight: 300;
line-height: normal;
}
.nav-link:hover {
    color: var(--hover-color);
text-align: center;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.header-btn {
    font-family: HeadlandOne;
    background-color: var(--bcg-color);
    font-size: 20px;
    color: var(--border-color);
    font-weight: 400;
    line-height: 1.25;
    flex-shrink: 0;
    border-radius: 35px 0px 35px 0px ;
    border: 1px solid var(--border-color);
    padding: 9px 38px;
    margin-left: 150px;
}
.choose {
    display: flex;
    margin-left: 48px;
    gap: 5px;
}
.header-link {
    color: var(--title-color);

text-align: center;
font-family: "Hammersmith One";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero {
    background-image: url(../img/bcg-hero.jpg);
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 179px;
}
.hero-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    color: var(--title-color);
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
width: 340px;
}
.br {
    color: var(--title-color);
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
width: 340px;
flex-shrink: 0;
}

.hero-btn {
    color: var(--border-color);
text-align: center;
font-family: "HeadlandOne";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: var(--bcg-color);
border:var(--border-color) 3px solid;
border-radius: 45px 0px 45px 0;
width: 260px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 31px;
margin-top: 42px;
}
.hero-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
}
.hero-img {
    width: 30px;
height: 30px;
}
.hero-item:nth-child(2)> .hero-img {
    width: 34px;
}
.hero-item:nth-child(3)> .hero-img {
    width: 50px;
}

.quotes {
    padding-top: 75px;
    padding-bottom: 10px;
    text-align: center;
}
.quotes-title {
    color: var(--color);
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 16px;
}
.quotes-subtitle {
    color: var(--text-c0lor);
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-bottom: 8px;
}
.quotes-img {
    margin-left: auto;
    margin-right: auto;
}
.trailer {
    background-image: url(../img/bcg-trailer.jpg);
    background-size: cover;
    padding-bottom: 331px;
    padding-top: 330px;
    text-align: center;
}
.trailer-btn {
    color: var(--border-color);
    background-color: var(--bcg-color);
text-align: justify;
font-family: "HeadlandOne";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 3px solid var(--border-color);
border-radius: 45px 0px 45px 0px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 19px;
padding-left: 19px;
}
.language {
    padding-top: 58px;
    padding-bottom: 57px;
    background-image: url(../img/bcg-languahe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.language-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 36px;
    column-gap: 24px;
}
.list-item {
width: 320px;
background-repeat: no-repeat;
flex-wrap: wrap;
display: flex;
padding-top: 36px;
padding-bottom: 36px;
background-image: linear-gradient(rgba(255, 255, 255, 0.70),rgba(255, 255, 255, 0.70));
text-align: center;
justify-content: center;

}
.language-title {
    color: var(--language-color);
text-align: justify;
font-family: "HeadlandOne";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 58px;
margin-bottom: 45px;
text-align: center;
}
.list-text {
    color: var(--language-color);
text-align: justify;
font-family: "HeadlandOne";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
margin-bottom: 40px;
}
.list-img {
    width: 152px;
    height: 40px;
}
.list-translated {
    color: var(--text-c0lor);
text-align: justify;
font-family: HeadlandOne;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
margin-top: 40px;
}
.footer-box {
    display: flex;
}
.footer {
    background-image: url(../img/background-header-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-logo {
    margin-top: 77px;
    margin-bottom: 76px;
    margin-left: 204px;
}
.palka {
    width: 2px;
height: 153px;
color: var(--title-color);
margin-top: 35px;
margin-bottom: 35px;
}
.footer-text {
    color: var(--title-color);
text-align: justify;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-link {
    color: var(--title-color);

text-align: justify;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}