
:root {
    --main-color: #94cfff;
    --title-color: #ffffff;
    --btn-color: #26c6ea;
    --border-color: #26c7ea;
    --color: #0a3853;
    --language-color: #141414;
    --text-c0lor: #000000;
    --hover-color:#94CFFF;
    --bcg-color:#0B0E66;

}
.container {
    width: 1056px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px red solid;

}
.header {
    background-image: linear-gradient( rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),url(../img/background-header-footer.jpg);
    background-size: cover;
    border-bottom: 3px solid var(--title-color);
    width: 1500px;
    padding-top: auto;
    padding-right: 110px;
}
.header-box {
    display: flex;
}
.logo-link {
    margin-top: 39px;
    margin-bottom: 39px;
    margin-right: 168px;
}
.nav-list {
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 39px;
}
.nav-link {
    color: var(--title-color);
text-align: center;
font-family: "Inter";
font-size: 20px;
font-style: 1.2;
font-weight: 300;
line-height: normal;
}
.nav-link:hover {
    color: var(--hover-color);
text-align: center;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.choose {
    display: flex;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-left: 48px;
    gap: 5px;
}
.header-btn {
    color: var(--btn-color);
text-align: justify;
font-family: "HeadlandOne";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 150px;
margin-right: 35px;
background-color: var(--bcg-color);
color: var(--border-color);
border: 3px solid var(--btn-color);
border-radius: 35px 0px 35px 0px;
}
.header-link {
    color: var(--title-color);

text-align: center;
font-family: "Hammersmith One";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero {
    background-image: url(../img/bcg-hero.jpg);
    height: 740px;
    background-size: cover;
    width: 1500px;
    padding-right: 110px;
}
.hero-text {
    color: var(--title-color);
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
width: 340px;
flex-shrink: 0;

}
.hero-text:nth-child(1) {
    padding-top: 180px;
    width: 298px;
    
}
.br {
    color: var(--title-color);
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
width: 340px;
flex-shrink: 0;
}

.hero-btn {
    color: var(--border-color);
text-align: center;
font-family: "HeadlandOne";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: var(--bcg-color);
border:var(--border-color) 3px solid;
border-radius: 45px 0px 45px 0;
width: 260px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 31px;
margin-top: 42px;
}
.hero-list {
    flex-direction: column;
}
.quotes-title {
    color: var(--color);
text-align: justify;
font-family: "Inter";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.quotes-subtitle {
    color: var(--text-c0lor);
    margin-left: 645px;
    margin-right: 645px;
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.quotes-img {
    margin-left: 520px;
    margin-right: 520px;
}
.trailer {
    background-image: url(../img/bcg-trailer.jpg);
    height: 741px;
    background-size: cover;
    padding-bottom: 30px;
}
.trailer-btn {
    color: var(--border-color);
    background-color: var(--bcg-color);
text-align: justify;
font-family: "HeadlandOne";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: 3px solid var(--border-color);
border-radius: 45px 0px 45px 0px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 19px;
padding-left: 19px;
margin-top: 330px;
margin-bottom: 331px;
margin-right: 590px;
margin-left: 590px;
width: 260px;
}
.language {
    background-image: url(../img/bcg-languahe.jpg);
}
.list-item {
width: 320px;
height: 240px;
background-image: linear-gradient(rgba(255, 255, 255, 0.70)
);
background-repeat: no-repeat;
flex-wrap: wrap;
display: flex;

}
.language-title {
    color: var(--language-color);
text-align: justify;
font-family: "HeadlandOne";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.list-text {
    color: var(--language-color);
text-align: justify;
font-family: "HeadlandOne";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 100% */
}
.footer-box {
    display: flex;
}
.footer {
    background-image: url(../img/background-header-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-logo {
    margin-top: 77px;
    margin-bottom: 76px;
    margin-left: 204px;
}
.palka {
    width: 2px;
height: 153px;
color: var(--title-color);
margin-top: 35px;
margin-bottom: 35px;
}
.footer-text {
    color: var(--title-color);
text-align: justify;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-link {
    color: var(--title-color);

text-align: justify;
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}